.buttonContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1; /* Poți schimba culoarea de fundal după preferințe */
    padding: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Culoarea butonului */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3; /* Culoare la hover */
  }
  