
.gallery {
    display: flex;
    flex-wrap: wrap; 
    gap: 6px; 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .gallery img {
    width: 443px;
    height: 300px;
  }
  
  .gallery-item img {
    width: auto; 
    height: auto;
    display: block;
  }
  